<!-- userDetail.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout :: layout}">
<div th:fragment="content">

<h2>동적 모달 예제</h2>

    <button
            data-modal="confirmModal"
            data-title="삭제 확인"
            data-message="정말 삭제하시겠습니까?"
            onclick="openModal(this)">
        확인 모달 열기
    </button>
<button type="button" onclick="openDynamicModal(2)">2번 유저 정보 보기</button>

<div th:fragment="pageScripts">
<script th:src="@{/js/pages/userDetail.js}"> </script>

</div>
</div>

